<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Daftar Registrasi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
  <meta content="Themesbrand" name="author" />
  <!-- App favicon -->
  <link rel="shortcut icon" href="/assets/images/favicon.ico" />

  <!-- Bootstrap Css -->
  <link href="/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
  <!-- Icons Css -->
  <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
  <!-- App Css-->
  <link href="/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="account-pages my-5 pt-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-4">
          <div class="card overflow-hidden">
            <div class="bg-primary">
              <div class="text-primary text-center p-4">
                <h5 class="text-white font-size-20">Daftar Untuk Donatur</h5>
                <a href="index.html" class="logo logo-admin">
                  <img src="/assets/images/logo-sm.png" height="24" alt="logo" />
                </a>
              </div>
            </div>
            <div class="card-body p-4">
              <div class="p-3">
                <div class="floating-alert-register-success"
                  style="display: none; position: fixed; top: 20px; right: 20px; z-index: 9100;">
                  <div class="alert alert-success" role="alert">
                    Berhasil Daftar
                  </div>
                </div>
                <div class="floating-alert-register-failed"
                  style="display: none; position: fixed; top: 20px; right: 20px; z-index: 9100;">
                  <div class="alert alert-danger" role="alert">
                    Gagal Daftar
                  </div>
                </div>
              </div>
              <form class="mt-4" action="/auth/register" method="POST" id="formRegister">
                <div class="mb-3">
                  <label class="form-label" for="nama">Nama Lengkap</label>
                  <input type="text" name="nama" class="form-control" id="nama" placeholder="Masukkan Nama Lengkap" />
                </div>
                <div class="mb-3">
                  <label class="form-label" for="alamat">Alamat</label>
                  <input type="text" name="alamat" class="form-control" id="alamat" placeholder="Masukkan Alamat" />
                </div>
                <div class="mb-3">
                  <label class="form-label" for="email">Email</label>
                  <input type="email" name="email" class="form-control" id="email" placeholder="Masukkan E-Mail" />
                </div>

                <div class="mb-3">
                  <label class="form-label" for="noTelp">No. Telp</label>
                  <input type="number" name="noTelp" class="form-control" id="noTelp"
                    placeholder="Masukkan Nomor Telepon" />
                </div>

                <div class="mb-3">
                  <label class="form-label" for="password">Password</label>
                  <input type="password" name="password" class="form-control" id="password"
                    placeholder="Masukkan Password" />
                </div>

                <div class="mb-3 row">
                  <div class="col-12 text-end">
                    <button class="btn btn-primary w-md waves-effect waves-light" type="submit">DAFTAR</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="mt-5 text-center">
          <p>Sudah Punya Akun? <a href="/auth/login" class="fw-medium text-primary"> Login </a></p>
        </div>
      </div>
    </div>
  </div>


  <script>
    async function register() {
      try {
        const form = document.getElementById('formRegister');
        const formData = new FormData(form);

        await fetch(`/auth/register`, {
          method: 'POST',
          body: formData
        });

        showFloatingAlert('success');
        setTimeout(() => {
          window.location.reload();
        }, 500);
      } catch (err) {
        console.error('Delete failed:', err);
        showFloatingAlert('failed');
      }
    }

    function showFloatingAlert(type) {

      if (type === 'success') {
        const alert = document.querySelector('.floating-alert-register-success')
        alert.style.display = 'block';

        // Auto hide after 3 seconds
        setTimeout(() => {
          alert.style.opacity = '0';
          alert.style.transition = 'opacity 3s';
          setTimeout(() => {
            alert.style.display = 'none';
            alert.style.opacity = '1';
          }, 1000);
        }, 1200);
      } else if (type === 'failed') {
        const alert = document.querySelector('.floating-alert-register-failed')
        alert.style.display = 'block';

        // Auto hide after 3 seconds
        setTimeout(() => {
          alert.style.opacity = '0';
          alert.style.transition = 'opacity 3s';
          setTimeout(() => {
            alert.style.display = 'none';
            alert.style.opacity = '1';
          }, 1000);
        }, 1200);
      }
    }
  </script>
  <!-- JAVASCRIPT -->
  <script src="/assets/libs/jquery/jquery.min.js"></script>
  <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/libs/metismenu/metisMenu.min.js"></script>
  <script src="/assets/libs/simplebar/simplebar.min.js"></script>
  <script src="/assets/libs/node-waves/waves.min.js"></script>

  <script src="/assets/js/app.js"></script>
</body>

</html>