<div class="col-sm-6 col-md-4 col-xl-3">
   <div class="my-4 text-center">
      <!-- Small modal -->
      <!-- <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal"
         data-bs-target=".bs-example-modal-center">Center
         modal</button> -->
   </div>

   <div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">Buat Akun Administrator</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row">
               <div class="col-lg-12">
                  <div class="card">
                     <div class="card-body">
                        <form class="custom-validation"
                           action="http://127.0.0.1:3001/management-user/create-administrator" method="POST">
                           <div class="mb-3">
                              <label class="form-label" for="fullname">Nama Lengkap</label>
                              <input type="text" id="fullname" name="fullname" class="form-control" required
                                 placeholder="Masukkan Nama Lengkap">
                           </div>
                           <div class="mb-3">
                              <label class="form-label" for="username">Username</label>
                              <input type="text" class="form-control" id="username" name="username" required
                                 placeholder="Masukkan Username">
                           </div>
                           <div class="mb-3">
                              <label class="form-label for=" email">E-Mail</label>
                              <div>
                                 <input type="email" id="email" name="email" class="form-control" required
                                    parsley-type="email" placeholder="Masukkan Email">
                              </div>
                           </div>
                           <div class="mb-3">
                              <label class="form-label" for="noTelp">Nomor Telphone</label>
                              <div>
                                 <input data-parsley-type="number" id="noTelp" name="noTelp" type="number"
                                    class="form-control" required placeholder="Masukkan hanya Angka">
                              </div>
                           </div>
                           <div class="mb-3">
                              <label class="form-label" for="password">Password</label>
                              <div>
                                 <input type="password" id="password" name="password" class="form-control" required
                                    value=<%=generatePassword %>
                                 placeholder="Password">
                              </div>
                           </div>
                           <div class="md-3">
                              <label for="validationCustom04" class="form-label">Status</label>
                              <select class="form-select" id="validationCustom04" required name="status">
                                 <option selected disabled value="">Pilih...</option>
                                 <option value="ACTIVE">Aktif</option>
                                 <option value="NON_ACTIVE">Non Aktif</option>
                              </select>
                              <div class="invalid-feedback">
                                 Please select a valid state.
                              </div>
                           </div>
                           <div class="mb-0 mt-3">
                              <div>
                                 <button type="submit" class="btn btn-primary waves-effect waves-light me-1"
                                    value="submit">
                                    Buat Akun
                                 </button>
                                 <button type="reset" class="btn btn-secondary waves-effect">
                                    Hapus
                                 </button>
                              </div>
                           </div>
                        </form>
                        <!-- end form -->
                     </div><!-- end cardbody -->
                  </div><!-- end card -->
               </div> <!-- end col -->
               <!-- end col -->
            </div>
         </div>
         <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
   </div>
   <!-- /.modal -->
</div>