<%- include('../../partials/header.ejs') -%>

   <div class="main-content">

      <div class="page-content">
         <div class="container-fluid">
            <!-- start page title -->
            <div class="page-title-box">
               <div class="row align-items-center">
                  <div class="col-md-8">
                     <h6 class="page-title">Tambah Data Anak Asuh</h6>
                  </div>
                  <div class="col-md-4">
                     <div class="float-end d-none d-md-block">
                        <a href="/anak-asuh/tambah-anak-asuh">
                           <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal"
                              data-bs-target=".bs-example-modal-center">
                              <i class="fas fa-save"></i> Simpan</button>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
            <!-- end page title -->
            <div class="row">
               <div class="col-lg-6">
                  <div class="card">
                     <div class="card-body">

                        <h4 class="card-title mb-4">Data Anak Asuh</h4>

                        <form class="custom-validation" action="#">
                           <div class="mb-3">
                              <label class="form-label">Nama Lengkap</label>
                              <input type="text" class="form-control" required placeholder="Type something">
                           </div>
                           <div class="mb-3">
                              <label class="form-label">Tempat Lahir</label>
                              <input type="text" class="form-control" required placeholder="Type something">
                           </div>
                           <div class="mb-3">
                              <label class="form-label">Tanggal Lahir</label>
                              <div class="input-group" id="datepicker2">
                                 <input type="text" class="form-control" placeholder="dd M, yyyy"
                                    data-date-format="dd M, yyyy" data-date-container='#datepicker2'
                                    data-provide="datepicker" data-date-autoclose="true">

                                 <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                              </div><!-- input-group -->
                           </div>

                           <div class="mb-3">
                              <label class="form-label mb-3 d-flex">Gender :</label>
                              <div class="form-check form-check-inline">
                                 <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                    class="form-check-input">
                                 <label class="form-check-label" for="customRadioInline1">Male</label>
                              </div>
                              <div class="form-check form-check-inline">
                                 <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                    class="form-check-input">
                                 <label class="form-check-label" for="customRadioInline2">Female</label>
                              </div>
                           </div>
                           <div class="mb-3">
                              <label class="form-label">Status</label>
                              <input type="text" class="form-control" required placeholder="Type something">
                           </div>
                           <div class="mb-3">
                              <label class="form-label">Alamat</label>
                              <input type="text" class="form-control" required placeholder="Type something">
                           </div>
                           <div class="mb-3">
                              <label class="form-label">Hubungan</label>
                              <input type="text" class="form-control" required placeholder="Type something">
                           </div>
                           <div class="mb-3">
                              <label class="form-label">Photo</label>
                              <input type="text" class="form-control" required placeholder="Type something">
                           </div>
                           <div class="mb-3">
                              <label class="form-label">Tanggal Masuk</label>
                              <div class="input-group" id="datepicker2">
                                 <input type="text" class="form-control" placeholder="dd M, yyyy"
                                    data-date-format="dd M, yyyy" data-date-container='#datepicker2'
                                    data-provide="datepicker" data-date-autoclose="true">

                                 <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                              </div><!-- input-group -->
                           </div>
                           <div class="mb-3">
                              <label class="form-label">Tanggal Keluar</label>
                              <div class="input-group" id="datepicker2">
                                 <input type="text" class="form-control" placeholder="dd M, yyyy"
                                    data-date-format="dd M, yyyy" data-date-container='#datepicker2'
                                    data-provide="datepicker" data-date-autoclose="true">

                                 <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                              </div><!-- input-group -->
                           </div>
                           <div class="mb-3">
                              <label class="form-label">Ayah</label>
                              <input type="text" class="form-control" required placeholder="Type something">
                           </div>
                           <div class="mb-3">
                              <label class="form-label">Ibu</label>
                              <input type="text" class="form-control" required placeholder="Type something">
                           </div>
                           <div class="mb-3">
                              <label class="form-label">Wafat</label>
                              <input type="text" class="form-control" required placeholder="Type something">
                           </div>
                           <div class="mb-3">
                              <label class="form-label">Nomor Handphone</label>
                              <input type="number" class="form-control" required placeholder="Type something">
                           </div>
                           <div class="mb-3">
                              <label class="form-label">Keterangan</label>
                              <div>
                                 <textarea required class="form-control" rows="5" placeholder="Type here"></textarea>
                              </div>
                           </div>
                           <div class="mb-0">
                              <div>
                                 <button type="submit" class="btn btn-primary waves-effect waves-light me-1">
                                    Submit
                                 </button>
                                 <button type="reset" class="btn btn-secondary waves-effect">
                                    Cancel
                                 </button>
                              </div>
                           </div>
                        </form>
                        <!-- end form -->
                     </div><!-- end cardbody -->
                  </div><!-- end card -->
               </div> <!-- end col -->
               <div class="col-lg-6">
                  <div class="card">
                     <div class="card-body">

                        <h4 class="card-title mb-4">Data Wali Anak Asuh</h4>

                        <form class="custom-validation" action="#">
                           <div class="mb-3">
                              <label class="form-label">Nama Lengkap</label>
                              <input type="text" class="form-control" required placeholder="Type something">
                           </div>
                           <div class="mb-3">
                              <label class="form-label">Alamat</label>
                              <input type="text" class="form-control" required placeholder="Type something">
                           </div>


                           <div class="mb-3">
                              <label class="form-label">Umur</label>
                              <div>
                                 <input type="number" class="form-control" required parsley-type="email"
                                    placeholder="Enter a valid email">
                              </div>
                           </div>
                           <div class="mb-3">
                              <label class="form-label">No Telp.</label>
                              <div>
                                 <input data-parsley-type="number" type="text" class="form-control" required
                                    placeholder="Enter only numbers">
                              </div>
                           </div>
                           <div class="mb-0">
                              <div>
                                 <button type="submit" class="btn btn-primary waves-effect waves-light me-1">
                                    Submit
                                 </button>
                                 <button type="reset" class="btn btn-secondary waves-effect">
                                    Cancel
                                 </button>
                              </div>
                           </div>
                        </form>
                        <!-- end form -->
                     </div><!-- end cardbody -->
                  </div><!-- end card -->
               </div> <!-- end col -->

            </div>
         </div>
      </div>
   </div>
   <!-- end row -->
   <%- include('../../partials/footer.ejs') -%>