<div class="col-sm-6 col-md-4 col-xl-3" tabindex="-1">
   <div class="my-4 text-center">
      <!-- Small modal -->
      <!-- <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal"
         data-bs-target=".bs-example-modal-center">Center
         modal</button> -->
   </div>

   <div class="modal fade bs-example-modal-center" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">Tambah Donasi</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <div class="col-lg-12">
                  <div class="card">
                     <div class="card-body">

                        <!-- <h4 class="card-title mb-4">Data Wali Anak Asuh</h4> -->

                        <form class="custom-validation" id="formAddDonasi" enctype="multipart/form-data">

                           <label for="campaignID" class="form-label">Campaign</label>
                           <select class="form-control select2 mb-3" name="campaignID">
                              <option value="false">Select campaign</option>
                              <% campaign.map((item, index)=> { %>
                                 <option value="<%= item.id %>">
                                    <%= item.judul %>
                                 </option>
                                 <% }) %>
                           </select>
                           <div class="mb-3">
                              <label class="form-label" for="namaDonatur">Nama Donatur</label>
                              <input type="text" class="form-control" required placeholder="Masukkan Nama Donatur"
                                 name="namaDonatur">
                           </div>
                           <div class="mb-3">
                              <label class="form-label" for=jumlah">Jumlah</label>
                              <input type="number" class="form-control" required
                                 placeholder="Jumlah Donasi Yang Diberikan" name="jumlah">
                           </div>


                           <div class="md-3">
                              <label for="validationCustom04" class="form-label">Metode</label>
                              <select class="form-select" id="validationCustom04" required name="methode">
                                 <option selected disabled value="">Pilih Metode...</option>
                                 <option value="TRANSFER">TRANSFER</option>
                                 <option value="TUNAI">TUNAI</option>
                              </select>
                              <div class="invalid-feedback">
                                 Pilih Salah Satu Metode.
                              </div>
                           </div>
                           <div class="md-3">
                              <label for="validationCustom04" class="form-label">Status Donasi</label>
                              <select class="form-select" id="validationCustom04" required name="status">
                                 <option selected disabled value="">Pilih Status Donasi...</option>
                                 <option value="VERIFIED" disabled>VERIFIED</option>
                                 <option selected value="PENDING">PENDING</option>
                                 <option value="REJECT" disabled>REJECT</option>
                              </select>
                              <div class="invalid-feedback">
                                 Pilih Salah Satu Status.
                              </div>
                           </div>
                           <div class="mb-3">
                              <label class="form-label" for="tanggalDonasi">Tanggal Donasi</label>
                              <div class="input-group" id="datepicker2">
                                 <input type="text" class="form-control" placeholder="dd M yyyy" name="tanggalDonasi"
                                    data-date-format="dd M yyyy" data-date-container='#datepicker2'
                                    data-provide="datepicker" data-date-autoclose="true">

                                 <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                              </div>
                           </div>
                           <div class="mb-3">
                              <label class="form-label" for="tanggalVerifikasi">Tanggal Verifikasi</label>
                              <div class="input-group" id="datepicker2">
                                 <input type="text" class="form-control" placeholder="dd M yyyy"
                                    name="tanggalVerifikasi" data-date-format="dd M yyyy"
                                    data-date-container='#datepicker2' data-provide="datepicker"
                                    data-date-autoclose="true">

                                 <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                              </div>
                           </div>

                           <div class="mb-3">
                              <label class="form-label" for="buktiTransaksi">Bukti Transaksi</label>
                              <div class="mb-5">
                                 <div class="fallback">
                                    <input name="file" type="file" accept="image/png, image/jpeg, image/jpg, .pdf">
                                 </div>
                              </div>
                           </div>

                           <div class="mb-3">
                              <label class="form-label" for="catatan">Catatan</label>
                              <div>
                                 <textarea name="catatan" class="form-control" rows="5"
                                    placeholder="Catatan..."></textarea>
                              </div>
                           </div>
                           <div class="mb-0">
                              <div>
                                 <button type="button" onclick="Save()"
                                    class="btn btn-primary waves-effect waves-light me-1">
                                    Submit
                                 </button>
                              </div>
                           </div>
                        </form>
                        <!-- end form -->
                     </div><!-- end cardbody -->
                  </div><!-- end card -->
               </div> <!-- end col -->
            </div>
         </div>
         <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
   </div>
   <!-- /.modal -->
</div>

<script>
   async function Save() {
      try {
         const form = document.getElementById('formAddDonasi');
         const formData = new FormData(form);


         if (formData.get('campaignID') == "false" || !formData.get('namaDonatur') || !formData.get('jumlah') || !formData.get('methode') || !formData.get('status') || !formData.get('tanggalDonasi') || !formData.get('tanggalVerifikasi')) {
            showFloatingAlert('failed_save');
            return;
         }

         const data = {};
         formData.forEach((value, key) => {
            data[key] = value;
         });

         async function send() {
            await fetch('/donasi/add-manual', {
               method: 'POST',
               body: formData,
            });
         }

         send()
         showFloatingAlert("success_save");


         // disable modal
         const modal = document.querySelector('.bs-example-modal-center');
         const modalInstance = bootstrap.Modal.getInstance(modal);
         modalInstance.hide();

         setTimeout(() => {
            window.location.reload();
         }, 500);
      } catch (err) {
         console.error('Save failed:', err);
         showFloatingAlert('failed_save');
      }
   }
</script>