<%- include('../../partials/header.ejs', {session: session}) -%>
   <div class="main-content">

      <div class="page-content">
         <div class="container-fluid">

            <!-- start page title -->
            <div class="page-title-box">
               <div class="row align-items-center">
                  <div class="col-md-8">
                     <h6 class="page-title">Data Donasi</h6>
                  </div>
                  <div class="col-md-4">
                     <div class="float-end d-none d-md-block">
                        <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal"
                           data-bs-target=".bs-example-modal-center">
                           <i class="fas fa-print"></i> Cetak</button>
                        <% if (session.userType==='ADMINISTRATOR' ) { %>
                           <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal"
                              data-bs-target=".bs-example-modal-center">
                              <i class="fas fa-plus"></i> Tambah</button>
                           <% } %>
                     </div>
                  </div>
               </div>
            </div>
            <!-- end page title -->



            <div class="row">
               <div class="col-12">
                  <div class="card">
                     <div class="card-body">

                        <h4 class="card-title">List Donasi</h4>

                        <div class="table-responsive">
                           <table class="table table-editable table-nowrap align-middle table-edits">
                              <thead>
                                 <tr>
                                    <th>Nomor</th>
                                    <th>Donatur</th>
                                    <th>Jumlah</th>
                                    <th>Metode</th>
                                    <th>Status</th>
                                    <th>Tanggal Donasi</th>
                                    <th>Tanggal Verifikasi</th>
                                    <th>Action</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr data-id="1">
                                    <td data-field="nomor" style="width: 80px">1</td>
                                    <td data-field="donatur">David McHenry</td>
                                    <td data-field="total">Male</td>
                                    <td data-field="method">Tangerang</td>
                                    <td data-field="status">24</td>
                                    <td data-field="date-donate">Yatim</td>
                                    <td data-field="date-verif">Yatim</td>
                                    <td style="width: 100px">
                                       <a class="btn btn-secondary btn-sm edit" title="Edit">
                                          <i class="fas fa-pencil-alt"></i>
                                       </a>
                                    </td>
                                 </tr>

                              </tbody>
                              <!-- end tbody -->
                           </table>
                           <!-- end table -->
                        </div>
                        <!-- end -->
                     </div>
                  </div>
               </div> <!-- end col -->
            </div> <!-- end row -->

         </div> <!-- container-fluid -->
      </div>
      <!-- End Page-content -->

   </div>
   <%- include('../../partials/footer.ejs') -%>